fastapi~=0.110.2
uvicorn[standard]
openai~=1.23.2
docx
python-docx
requests
pydub
python-jose[cryptography]
passlib[bcrypt]~=1.7.4
python-multipart
sqlalchemy~=2.0.29
pydantic~=2.7.0
httpx
envparse
email_validator

starlette~=0.37.2
typing_extensions~=4.11.0


# fastapi
# uvicorn[standard]
# openai
# docx
# python-docx
# requests
# pydub
# python-jose[cryptography]
# passlib[bcrypt]
# python-multipart
# sqlalchemy
# pydantic
# httpx
